/**
 * ----------------------------------------------------------------------------
 * Editor CSS - Gutenberg UI bcakend
 * '.wp-block-{namespace}' 
 * ----------------------------------------------------------------------------
 */


 /**
 * ----------------------------------------------------------------------------
 * TEXT BLOCK 
 * ----------------------------------------------------------------------------
 */
.wp-block-bzo-textblock {
  background: white;
  border: 1px dotted green;
  color: black;
  padding: 1em 2em;
}


/**
 * ----------------------------------------------------------------------------
 * ALT CONTENT
 * ----------------------------------------------------------------------------
 */
 .wp-block-bzo-altcontent-block {}