/**
 * ----------------------------------------------------------------------------
 * Frontend CSS - Site css for blocks
 * '.wp-block-{namespace}' 
 * namespace defined in js init file for blocks
 * ----------------------------------------------------------------------------
 */

 
/**
 * ----------------------------------------------------------------------------
 * TEXT BLOCK 
 * ----------------------------------------------------------------------------
 */
.wp-block-bzo-textblock {
  background-color: #333333;
  color: #ffffff;
  padding: 1em 2em;
}



/**
 * ----------------------------------------------------------------------------
 * ALT CONTENT
 * ----------------------------------------------------------------------------
 */
.wp-block-bzo-altcontent-block {
  background: red;
}