/**
 * ----------------------------------------------------------------------------
 * Editor CSS - Gutenberg UI bcakend
 * '.wp-block-{namespace}' 
 * ----------------------------------------------------------------------------
 */

.wp-block-bzo-textblock {
  background: white;
  border: 1px dotted green;
  color: black;
  padding: 1em 2em;
}