/**
 * ----------------------------------------------------------------------------
 * Frontend CSS - Site css for block 
 * '.wp-block-{namespace}' 
 * namespace defined in js init file for block
 * ----------------------------------------------------------------------------
 */

 
.wp-block-bzo-textblock {
  background-color: #333333;
  color: #ffffff;
  padding: 1em 2em;
}